
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.almendra-sc-regular {
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
}
.jaro { // uniquifier - tydligen varierbar?
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.karla { // uniquifier
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    --c-black: black;
    --c-white: white;
    --c-prim: rgb(32, 32, 41);;
    --c-prim-dark: rgb(20, 20, 30);;
    --c-prim-medium: rgb(105, 105, 130);
    --c-prim-light: rgb(200, 200, 230);

    background: var(--c-prim) no-repeat;
    font-family: "Outfit", sans-serif;
}
/* Ta bort default-style från button */
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: unset;
}

#bg {
    background: linear-gradient(var(--c-prim-dark), var(--c-prim)) no-repeat;
    width: 100vw;
    height: 450px;
    z-index: -1;
    position: absolute;
    top: 70px;
    left: 0;
}

p {
    color: var(--c-prim-light);
}