
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.almendra-sc-regular {
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
}

.jaro-uniquifier { // tydligen varierbar?
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    --c-black: black;
    --c-white: white;
    --c-prim: rgb(32, 32, 41);;
    --c-prim-dark: rgb(20, 20, 30);;
    --c-prim-medium: rgb(105, 105, 130);
    --c-prim-light: rgb(200, 200, 230);

    background: var(--c-prim) no-repeat;
}

#bg {
    background: linear-gradient(var(--c-prim-dark), var(--c-prim)) no-repeat;
    width: 100vw;
    height: 450px;
    z-index: -1;
    position: absolute;
    top: 70px;
    left: 0;
}

p {
    color: var(--c-prim-light);
}